@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100; /* Fundo quase preto */
  overflow: hidden; /* Evita scroll na janela inteira, usaremos scroll interno */
}

/* Estilizando a barra de rolagem para ficar Dark */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #18181b; /* Zinc 900 */
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; /* Zinc 700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* Zinc 600 */
}